body{
    background-color: pink;
}

.nigeria{
    border: green solid;
    color: white;
    background-color: green;
    width: 200px;
    height: 200px;
    padding: 100px;
}
.ghana{
    position: relative;
    left: 500px;
    bottom: 405px;
    border: tomato solid;
    color: white;
    background-color: tomato;
    width: 200px;
    height: 200px;
    padding: 100px;
}
.egypt{
    position: relative;
    /* left: 500px; */
    bottom: 400px;
    border: blue solid;
    color: white;
    background-color: blue;
    width: 200px;
    height: 200px;
    padding: 100px;
}

.southafrica{
    /* float: right; */
    position: relative;
    left: 500px;
    bottom: 802px;
    border: red solid;
    color: white;
    background-color: red;
    width: 200px;
    height: 200px;
    padding: 100px;
}