body{
    background-color: orangered;
}
.one{
    margin-top: 10%;
    margin-right: 200px;
    margin-left: 100px;
    margin-bottom: 100px;
    border-style: dotted;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: sandybrown;
}

.two{
    font-size: 50px;
    color: palegreen;
}

input{
    margin-left: 30%;
    margin-top: 50px;
    border-style: dotted;
    border-width: 10px;
    border-color: palevioletred;
    width: 550px;
    height: 50px;
    font-size: 50px;
    border-radius: 30px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 40px;
    background-color: white;
    outline: none;
}