body{
    background-color: whitesmoke;
}

.box1{
    float: left;
    border: orange solid;
    background-color: orange;
    color: white;
    width: 200px;
    height: 400px;
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 10px;
}

.box2{
    float: left;
    border: grey solid;
    background-color: grey;
    color: white;
    width: 200px;
    height: 400px;
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 10px;
}

.box3{
    float: left;
    border: slategrey solid;
    background-color: slategrey;
    color: white;
    width: 200px;
    height: 400px;
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 10px;
}

.boss{
    padding-left: 300px;
    margin-top: 100px;
}
button{
    border-radius: 200px;
    margin-top: 50px;
    width: 150px;
    height: 30px;
    
}

.buttonyellow{
    border:white solid;
    background-color: orange;
}
.grey{
    border:white solid;
    background-color: grey;
}
.slategrey{
    border:white solid;
    background-color: slategrey;
}