body{
    background-color: lime;
}

.form{
    border: white solid;
    background-color: white;
    width: 300px;
    padding-left: 40px;
    padding-top: 30px;
}

.form2{
    padding-left: 10px;
}
input{
    padding-left: 10px;
    margin-top: 20px;
    /* color: white; */
    background-color: #dadada;
    width: 230px;
    height: 30px;
    
}

button{
    color: white;
    background-color: green;
    width: 250px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    padding-right: 50px;

}
.create{
    color: green;
    
}

.main{
    margin-left: 500px;
    margin-top: 200px;
}

a{
    color: green;
    text-decoration: none;
}

h5{
    padding-left: 30px;
    
}
