@media (max-width: 425px) {
  /* section 1 css start for phone start here here */

  .sec1_img {
    margin-top: 2em;
    margin-left: 0px;
    width: 100%;
  }

  .sec1_div {
    margin: 0px 0px;
  }

  .sec1_div > h1 {
    text-align: center;
    font-size: 1em;
    width: 100%;
    margin: 0 0 0 0px;
  }

  .sec1_div > p {
    text-align: center;
    font-size: 1em;
    width: 100%;
    margin: 2em 0 0 0px;
  }

  .sec1_div > button {
    text-align: center;
    font-size: 1em;
    width: 15em;
    height: 40px;
    border-radius: 30px;
    background-color: #42b0d1;
    margin: 2em 0 20px 3em;
    outline: none;
    border-color: white;
  }

  /* section 1 css start for phone end here here */
}
